<!-- LEFT -->
<div class="cell-container">
  <div class="cell">
    <h3>{{technicalSepcs.Zeroto100!}}<span>sec</span></h3>
    <p>0-100 km/h</p>
  </div>
</div>
<!-- CENTER -->
<div class="cell-container">
  <div class="cell">
    <h3>{{technicalSepcs.EnginePerfomance}}<span>kW</span></h3>
    <p>Engine Performance</p>
  </div>
</div>

<!-- RIGHT -->
<div class="cell-container">
  <div class="cell">
    <h3>{{technicalSepcs.FuelConsumption}}<span>l/100km</span></h3>
    <p>Fuel Consmption (combined)</p>
  </div>
</div>
